.page-box {
    background-color: #0e0318;
    color: #ffffff;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 40px;
    display: flex;
    justify-self: center;
}

.greeting-text {
    width: 40%;
    height: 40%;
    display: block;
    justify-self: center;
    text-align: center;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gretting-text-intro {
    font-size: 35px;
}
